<div class="request-page">

    <div class="page-header">
        <div>
            <h1>
                My Requests
            </h1>

            <p>
                View and track your barangay document requests.
            </p>
        </div>
    </div>

    <div class="request-card">

        <div class="loading" *ngIf="loading">
            Loading your requests....
        </div>
        <ng-container *ngIf="!loading">
        <ng-container *ngIf="!loading && requests | async as requestList ">


            <div class="empty-state" 
            *ngIf="requestList.length === 0">
            
            <h3>
                No Requests found
            </h3>

            <p>
                You haven't submitted any document requests yet.
            </p>
            </div>


            <div class="table-wrapper"
            *ngIf="requestList.length > 0">
            
            <table>

                <thead>

                    <tr>
                        <th>Document</th>
                        <th>Purpose</th>
                        <th>Fee</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let request of requestList">

                        <td>
                            <strong>
                                {{ request.documentType }}
                            </strong>
                        </td>

                        <td>
                            <strong>
                                {{ request.purpose}}
                            </strong>
                        </td>

                        <td>
                            <strong>
                                P{{ request.fee | number:'1.2-2' }}
                            </strong>
                        </td>

                        <td>
                            <strong>
                                {{ request.createdAt?.toDate?.() | date:'medium' }}
                            </strong>
                        </td>

                        <td>

                            <span class="status" 
                            [ngClass]="request.status.toLowerCase()">

                                {{ request.status }}
                            
                            </span>
                        </td>

                        <td>

                            <span *ngIf="request.status === 'Rejected' && request.remarks"
                            class="rejection-remarks">
                            
                            {{ request.remarks }}

                            </span>

                            <span *ngIf="request.status !== 'Rejected' || !request.remarks">

                                -
                                
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

        </ng-container>
        </ng-container>
  

     
        
    </div>
</div>