<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<aside class="sidebar" [class.open]="isSidebarOpen">

    <div class="logo">

        <img
            src="images/mankilamease.png"
            alt="MankilamEase Logo"
        >

        <div class="logo-text">
            <h2>MankilamEase</h2>
            <p>Barangay Service System</p>
        </div>

        <button
            type="button"
            class="close-sidebar"
            (click)="closeSidebar()">
            ×
        </button>

    </div>

    <nav>

    <a routerLink="/dashboard"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">

        <i class="bi bi-grid-1x2-fill"></i>
        <span>Dashboard</span>

    </a>

    <a routerLink="/document-request"
       routerLinkActive="active">

        <i class="bi bi-file-earmark-text"></i>
        <span>Request Document</span>

    </a>

    <a routerLink="/announcement"
       routerLinkActive="active">

        <i class="bi bi-megaphone"></i>
        <span>Announcements</span>

    </a>

    <a routerLink="/my-request"
       routerLinkActive="active">

        <i class="bi bi-clock-history"></i>
        <span>My Request</span>

    </a>

    <a routerLink="/my-profile"
       routerLinkActive="active">

        <i class="bi bi-person"></i>
        <span>My Profile</span>

    </a>

</nav>

   <div class="logout">

    <button
        type="button"
        (click)="logout()">

        <i class="bi bi-box-arrow-right"></i>
        Logout

    </button>

</div>

</aside>


<button
    type="button"
    class="menu-button"
    (click)="toggleSidebar()">

    ☰

</button>


<div
    class="sidebar-overlay"
    *ngIf="isSidebarOpen"
    (click)="closeSidebar()">
</div>