<div class="admin-request-page">

    <div class="page-header">

        <h1>Document Request</h1>

        <p>
            Review and manage document requests submitted by residents.
        </p>
    </div>


    <div class="requests-card">

        <div *ngIf="requests$ | async as requests">

            <p class="empty-message"
            *ngIf="requests.length === 0">

            No document requests found.
            </p>
       

        <div class="table-wrapper" *ngIf="requests.length > 0">

            <table>

                <thead>

                    <tr>

                        <th>Resident</th>
                        <th>Document</th>
                        <th>Purpose</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let request of requests">

                        <td>

                            <div class="resident-card">

                                <strong>
                                    {{ request.firstname}}
                                </strong>

                                <small>
                                    {{ request.email }}
                                </small>
                            </div>
                        </td>

                        <td>
                            {{ request.documentType }}
                        </td>

                        <td>
                            {{ request.purpose }}
                        </td>

                        <td>
                            {{ request.createdAt?.toDate() | date:'medium' }}
                        </td>

                        <td>

                            <span class="status" [ngClass]="request.status.toLowerCase()">

                                {{ request.status }}
                            </span>
                        </td>

                        <td>

                               <button type="button" class="view-button"
                               (click)="viewRequest(request)">
                                
                               View Details
                                </button>
                      

                           <span class="completed"
                           *ngIf="request.status === 'Completed'">
                        
                                Completed

                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal-overlay"
            *ngIf="showModal"
            (click)="closeModal()">
                
            <div class="modal-card"
            (click)="$event.stopPropagation()">

            <div class="modal-header">

                <div>

                     <h2>
                        Request Details
                     </h2>

                     <p>
                        Review resident information and document request.
                     </p>

                </div>

                <button type="button" class="close-button" (click)="closeModal()">
                    X
                </button>
            </div>

            <div class="modal-section">

                <h3>
                    Resident Information
                </h3>

                <div class="information-grid"
                *ngIf="selectedResident">

                <div class="information-item">

                    <span>
                        First Name
                    </span>

                    <strong>
                        {{ selectedResident.firstname }}
                    </strong>
                </div>

                <div class="information-item">

                    <span>
                        Middle Name
                    </span>

                    <strong>
                        {{ selectedResident.middlename || 'N/A' }}
                    </strong>
                </div>

                <div class="information-item">

                    <span>
                        Last Name
                    </span>

                    <strong>
                        {{ selectedResident.lastname }}
                    </strong>
                </div>

                <div class="information-item">

                    <span>
                        Email
                    </span>

                    <strong>
                        {{ selectedResident.email }}
                    </strong>
                </div>

                <div class="information-item">
                    
                    <span>
                        Contact Number
                    </span>

                    <strong>
                        {{ selectedResident.contactNumber }}
                    </strong>
                </div>

                <div class="information-item">

                    <span>
                        Birthdate
                    </span>

                    <strong>
                        {{ selectedResident.birthdate }}
                    </strong>
                </div>

                <div class="information-item full-width ">

                    <span>
                        Address
                    </span>

                    <strong>
                        {{ selectedResident.address }}
                    </strong>
                </div>

                </div>
                <p *ngIf="!selectedResident">

                    Resident information not found.
                </p>
            </div>

            <div class="modal-section"
            *ngIf="selectedRequest">

            <h3>Document Request</h3>

            <div class="information-grid">

                <div class="information-item">

                    <span>
                        Document Type
                    </span>

                    <strong>
                        {{ selectedRequest.documentType }}
                    </strong>
                    
                </div>

                <div class="information-item">

                    <span>
                        Fee
                    </span>

                    <strong>
                        P{{ selectedRequest.fee | number:'1.2-2'}}
                    </strong>
                </div>

                <div class="information-item">

                    <span>
                        Payment Status
                    </span>

                    <span class="payment-status"
                    [ngClass]="selectedRequest.paymentStatus?.toLowerCase()">
                
                        {{ selectedRequest.paymentStatus || 'Unpaid' }}
                    </span>
                </div>
                
                <div class="information-item">

                    <span>
                        Status
                    </span>

                    <span class="status" 
                    [ngClass]="selectedRequest.status.toLowerCase()">

                    {{ selectedRequest.status }}

                    </span>
                </div>

                <div class="information-item full-width">

                    <span>
                        Purpose
                    </span>

                    <strong>
                        {{ selectedRequest.purpose }}
                    </strong>
                </div>

                <div class="information-item full-width">

                    <span>
                        Date Requested
                    </span>

                    <strong>
                        {{ selectedRequest.createdAt?.toDate()| date:'medium' }}
                    </strong>
                </div>

                <div class="information-item full-width">

                    <span>
                        Admin Remarks
                    </span>

                    <strong *ngIf="selectedRequest.remarks">

                        {{ selectedRequest.remarks }}
                    </strong>

                    <span class="no-remarks"
                    *ngIf="!selectedRequest.remarks">

                    No remarks yet.

                    </span>
                </div>
            </div>

        </div>


        <div class="modal-actions"
        *ngIf="selectedRequest?.status === 'Pending' && !showRejectForm">

        <button type="button" class="reject-button"
        (click)="showRejectForm = true">
    
            Reject Request

        </button>

        <button type="button" class="approve-button"
        (click)="updateStatus(selectedRequest.id, 'Approved')">

        Approve Request

        </button>

        </div>

        <div class="rejection-section"
        *ngIf="selectedRequest?.status === 'Pending' && showRejectForm">

        <label>
            Rejection Remarks
        </label>

        <textarea [(ngModel)]="rejectionRemarks" 
        rows="4"
        placeholder="Enter the reason for rejecting this request...">
        </textarea>

        <small>
            Please provide a reason so the resident knows what needs to be corrected.
        </small>

        <div class="rejection-actions">

            <button type="button"
            class="cancel-button"
            (click)="cancelReject()">

            Cancel

            </button>

            <button type="button"
            class="reject-button"
            [disabled]="!rejectionRemarks.trim()"
            (click)="rejectRequest()">
            
            Confirm Rejection 

            </button>

        </div>

    </div>
    

    <div class="modal-actions"
    *ngIf="selectedRequest?.status === 'Approved'
    && selectedRequest?.paymentStatus !== 'Paid' ">


    <button type="button" class="payment-button"
    (click)="updatePaymentStatus(
        selectedRequest.id,
        'Paid'
    )">

    Mark as Paid

    </button>
        
    </div>
        

    <div class="modal-actions"
    *ngIf="selectedRequest?.status === 'Approved'
    && selectedRequest?.paymentStatus === 'Paid'">

    <button type="button" class="approve-button"
    (click)="updateStatus(
        selectedRequest.id,
        'In Progress'
    )">

        Start Processing
        
    </button>

</div>


    <div class="modal-actions"
    *ngIf="selectedRequest?.status === 'In Progress'">


        <button type="button" class="approve-button"
        (click)="updateStatus(
            selectedRequest.id,
            'Ready for Pickup'
        )">

        Ready for Pickup

        </button>
    </div>



    <div class="modal-actions"
    *ngIf="selectedRequest?.status === 'Ready for Pickup'">

        <button type="button" class="approve-button"
        (click)="updateStatus(
            selectedRequest.id,
            'Completed'
        )">

        Mark as Completed

        </button>
    </div>


</div>
        
</div>
      
</div>
   
</div>
    

</div>

</div>